<img id="image_above" width="650" height="600">
<div class="container">
	<h1><span id="alert"  class="alert alert_text"><span id="customer_name">{{name}}</span><span class="bought"> bought </span><span id="customer_product">{{product}}!</span></span><p id="customer_note" style="font-size: 2rem;">{{note}}</p></h1>
</div>