<h1 style="margin: 2%;;">Testing the Functionality of the Alerts</h1>

<p style="margin: 2%;;">Select the user you want to send test alert to</p>

<form style="margin: 2%;;">
    <div class="form-group">
        <label for="formGroupExampleInput">Select Streamer</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Type Initial Letters of Streamer">
    </div>
</form>

<button style="margin: 2%;;" type="button" class="btn btn-outline-info">Test Alert</button>
