<img src="https://i.ibb.co/XC378QL/giphy.gif" id="image_above" width="40%" height="55%">
<div id="alert_container" class="container">
	<h1><span id="alert"  class="alert alert_text"><span id="customer_name">Jyotirmay</span><span class="bought"> bought </span><span id="customer_product">T-Shirt!</span></span><p id="customer_note" style="font-size: 2rem;">SHOUT OUTTT BRRRR GO BRRRRR!!! HAHAHAH</p></h1>
</div>