<div  class="container">
	<img src="../images/logo.png"  class="widthSet">
	<audio id="audio" autoplay src="../audio/tuturu.mp3"></audio>
	<h1><span id="alert"  class="alert alert_text"><span id="customer_name">Jyotirmay</span><span class="bought"> bought </span><span id="customer_product">T-Shirt!</span></span><p id="customer_note" style="font-size: 2rem;">SHOUT OUTTT BRRRR GO BRRRRR!!! HAHAHAH</p></h1>
</div>